# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

F7. 1都6県のそれぞれにおいて、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示せ（出力は県名、駅名、人口増減率とすること）。

## prerequisites

In [16]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [17]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [18]:
sql = """
    WITH
        pop2020 AS (
            SELECT p.name, d.year, d.month, d.prefcode, d.population, p.geom
            FROM pop AS d
            INNER JOIN pop_mesh AS p
                ON p.name = d.mesh1kmid
            WHERE d.dayflag='0' AND
                d.timezone='0' AND
                d.year='2020' AND
                d.month='04' AND
                d.prefcode IN ('08', '09', '10', '11', '12', '13', '14')
            ),
        pop2019 AS (
            SELECT p.name, d.year, d.month, d.prefcode, d.population, p.geom
            FROM pop AS d
            INNER JOIN pop_mesh AS p
                ON p.name = d.mesh1kmid
            WHERE d.dayflag='0' AND
                d.timezone='0' AND
                d.year='2019' AND
                d.month='04' AND
                d.prefcode IN ('08', '09', '10', '11', '12', '13', '14')
            ),
        station AS (
            SELECT DISTINCT pt.name, pt.way
            FROM planet_osm_point pt
            WHERE pt.railway='station' AND
                pt.name IS NOT NULL
            ),
        s20 AS (
            SELECT pop2020.prefcode, station.name, SUM(pop2020.population) AS population
            FROM station
            INNER JOIN pop2020
                ON st_within(station.way,st_transform(pop2020.geom, 3857))
            GROUP BY station.name, pop2020.prefcode
            ),
        s19 AS (
            SELECT pop2019.prefcode, station.name, SUM(pop2019.population) AS population
            FROM station
            INNER JOIN pop2019
                ON st_within(station.way,st_transform(pop2019.geom, 3857))
            GROUP BY station.name, pop2019.prefcode
            ),
        change_rate AS (
            SELECT s20.prefcode, ((s20.population - s19.population) / s19.population) AS change_rate, s20.name AS station_name
            FROM s20
            INNER JOIN s19
                ON s20.name=s19.name
            ),
        min_change_rate AS (
            SELECT prefcode, MIN(change_rate) AS min_change_rate
            FROM change_rate
            GROUP BY prefcode
            )
    SELECT DISTINCT
        CASE
            WHEN A.prefcode = '08' THEN '茨城'
            WHEN A.prefcode = '09' THEN '栃木'
            WHEN A.prefcode = '10' THEN '群馬'
            WHEN A.prefcode = '11' THEN '埼玉'
            WHEN A.prefcode = '12' THEN '千葉'
            WHEN A.prefcode = '13' THEN '東京'
            WHEN A.prefcode = '14' THEN '神奈川'
            ELSE 'その他'
        END AS pref_name,
        A.station_name,
        A.change_rate
    FROM change_rate AS A
    INNER JOIN min_change_rate AS B
        ON A.prefcode = B.prefcode AND A.change_rate = B.min_change_rate
    ;
    
"""

## Outputs

In [20]:
# 増減率が同一のものがあった(きわめて近くの駅と考えられる)ため、千葉県に関しては二つ出力
out = query_pandas(sql,'gisdb')
print(out)

  pref_name       station_name  change_rate
0        千葉       ベイサイド・ステーション    -0.979428
1        千葉  ポートディスカバリー・ステーション    -0.979428
2        埼玉                小川町    -0.953136
3        東京                 台場    -0.885264
4        栃木        あしかがフラワーパーク    -0.918191
5       神奈川                八景島    -0.950710
6        群馬                 中野    -0.999209
7        茨城                 大和    -0.993909